/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

/* Reset setup */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

svg {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  cursor: pointer;
}

/* General */
html {
  font-size: 10px;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
}

body {
  display: flex;
  min-width: 37.5rem;
}

/* Content layout and appearance */
main {
  margin: auto;
  width: min(100% - 8rem, 81rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  border-radius: 0.5rem;
  overflow: hidden;
}

article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3.5rem;
}

article:nth-of-type(1) {
  background-color: hsl(31, 77%, 52%);
}

article:nth-of-type(2) {
  background-color: hsl(184, 100%, 22%);
}

article:nth-of-type(3) {
  background-color: hsl(179, 100%, 13%);
}

/* Content text */
article {
  color: hsla(0, 0%, 100%, 0.75);
}

h1 {
  font-size: 3rem;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}

p {
  font-size: 1.5rem;
  margin-top: -0.5rem;
}

/* Buttons */
button {
  width: fit-content;
  background-color: hsl(0, 0%, 95%);
  padding: 1rem 4rem;
  font-size: 1.2rem;
  border-radius: 2rem;
}

article:nth-of-type(1) > button {
  color: hsl(31, 77%, 52%);
}

article:nth-of-type(2) > button {
  color: hsl(184, 100%, 22%);
}

article:nth-of-type(3) > button {
  color: hsl(179, 100%, 13%);
}

/* Active states */
article button:hover {
  color: hsla(0, 0%, 100%, 0.75);
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 95%);
}

/* Fasten cards width on large screens*/
@media screen and (min-width: 28.125rem) {
  main {
    width: 37rem;
  }
}

/* Top and bottom margin on narrow to large screens */
@media screen and (max-width: 56.25rem) {
  main {
    margin-block: 7rem;
  }
}

/* Increase card size*/
@media screen and (min-width: 45rem) {
  html {
    font-size: 12px;
  }

  p {
    margin-top: 0;
  }

  button {
    margin-top: 5rem;
  }
}

/* Desktop view */
@media screen and (min-width: 56.25rem) {
  main {
    width: min(100% - 8rem, 81rem);
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  }
}
