/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* Reset config */
html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

/* General */
html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

body {
  max-width: 115rem;
  margin: 0 auto;
  display: flex;
}

/* Desktop layout */
main {
  margin: auto;
  width: max(77vw, 80rem);
  height: max(calc(100vh - 16rem), 600px);
  display: flex;
  flex-direction: column;
}

.presentation-text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.presentation-text h1,
.presentation-text h2 {
  font-size: 3rem;
  color: hsl(234, 12%, 34%);
}

.presentation-text h2 {
  font-weight: 200;
  line-height: 1.25;
}

.presentation-text p {
  font-size: 1.5rem;
  color: hsl(229, 6%, 66%);
  padding-inline: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 5rem;
}

.card {
  background-color: white;
  padding: 3.2rem;
  border-radius: 0.5rem;
  width: fit-content;
  box-shadow: 0.25rem 1rem 2rem hsla(229, 6%, 66%, 0.25),
    -0.25rem 1rem 2rem hsla(229, 6%, 66%, 0.25);
  position: relative;
}

.card h3 {
  font-size: 1.8rem;
  color: hsl(234, 12%, 34%);
}

.card p {
  font-size: 1.25rem;
  color: hsl(229, 6%, 66%);
  margin-top: 1rem;
}

.card img {
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: content-box;
  padding: inherit;
}

.cards-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 3rem;
}

.card.supervisor {
  grid-column: 1 / 5;
  grid-row: 4 / 10;
  border-top: 0.5rem solid hsl(180, 62%, 55%);
}

.card.builder {
  grid-column: 5 / 9;
  grid-row: 1 / 7;
  border-top: 0.5rem solid hsl(0, 78%, 62%);
}

.card.karma {
  grid-column: 5 / 9;
  grid-row: 7 / 13;
  border-top: 0.5rem solid hsl(34, 97%, 64%);
}

.card.calculator {
  grid-column: 9 / 13;
  grid-row: 4 / 10;
  border-top: 0.5rem solid hsl(212, 86%, 64%);
}

/* Mobile layout (from 800px below)*/
@media all and (max-width: 50rem) {
  html {
    font-size: 8px;
  }

  main {
    height: auto;
    width: min-content;
    padding: 10rem 2.5rem;
  }

  .presentation-text {
    width: auto;
  }

  .presentation-text p {
    font-size: 1.8rem;
  }

  .cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .card {
    height: 28rem;
    width: 38rem;
    font-size: 1.8rem;
  }

  .card h3 {
    font-size: 2.16rem;
  }

  .card p {
    font-size: 1.5rem;
  }

  /* The images start at 64px and scale down to their minimum 40px */
  /* .card img {
    width: max(min(calc(100vw * 0.0888), 64px), 40px);
    height: max(min(calc(100vw * 0.0888), 64px), 40px);
  } */

  .card.supervisor {
    grid-column: 1;
    grid-row: 1;
  }

  .card.builder {
    grid-column: 1;
    grid-row: 2;
  }

  .card.karma {
    grid-column: 1;
    grid-row: 3;
  }

  .card.calculator {
    grid-column: 1;
    grid-row: 4;
  }
}
