/* Font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

/* General */
html {
  font-size: 10px;
  font-family: "Outfit", sans-serif;
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 54%, 11%);
}

body {
  min-height: 100vh;
  min-width: 37.5rem;
  display: flex;
}

/* Card content layout */
main {
  width: 35rem;
  background-color: hsl(216, 50%, 16%);
  margin: auto;
  padding: 2.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Card top image, link, hover state transition */
.wrapper {
  position: relative;
}

.wrapper a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;
  border-radius: 1rem;
}

.wrapper a:hover::before {
  background: url(./images/icon-view.svg) no-repeat center;
  background-color: hsl(178, 100%, 50%, 50%);
}

.wrapper img {
  border-radius: 1rem;
}

/* Card text */
p,
li {
  font-size: 1.8rem;
  font-weight: lighter;
  color: hsl(215, 51%, 70%);
}

ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  padding-bottom: 2rem;
}

li:first-child {
  background: url(./images/icon-ethereum.svg) no-repeat 0;
  padding-left: 2rem;
  font-weight: bold;
  color: hsl(178, 100%, 50%);
}

li:last-child {
  background: url(./images/icon-clock.svg) no-repeat 0;
  padding-left: 2rem;
  font-weight: normal;
}

/* Card footer */
footer {
  display: flex;
}

img[alt*="Person"] {
  width: 4rem;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 5rem;
}

img + p {
  align-self: center;
  padding-left: 1.5rem;
  font-size: 1.6rem;
}

img + p a {
  color: hsl(0, 0%, 100%);
  font-weight: normal;
}
