/* 
  Font
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/* 
  Reset some properties
*/
html {
  height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  background-color: transparent !important;
}

/* 
  General
*/
html {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  background: hsl(229, 57%, 11%) url("./images/bg-mobile.png") no-repeat center /
    cover;
}

body {
  height: 100%;
  min-width: 375px;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

meter {
  display: none;
}

/* 
  Mobile-first content style and layout
*/
.container {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: end;
  gap: 1.6rem 3rem;
  margin: 13rem 2rem;
}

.card {
  color: hsl(243, 100%, 93%);
  background-color: hsl(228, 56%, 26%);
  border-radius: 0.75rem;
  min-width: 32.5rem;
  max-width: 54rem;
}

.card__fylo {
  flex: 0 1 35rem;
  padding: 4rem;
  border-top-right-radius: 10rem;
}

.card__icons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.card__icons .icon {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 1rem;
  background-color: hsl(229, 57%, 11%);
  display: grid;
  place-items: center;
}

.card__storage {
  flex: 1 1 540px;
  padding: 3rem;
  position: relative;
  height: 16rem;
}

.card__text {
  text-align: center;
  margin-bottom: 1.6rem;
}

.card__progress {
  height: 1.5rem;
  border-radius: 5rem;
  border: 0.3rem solid hsl(228, 57%, 18%);
  background-color: hsl(228, 57%, 18%);
  box-sizing: content-box;
  position: relative;
}

/* 0 GB lower bound text*/
.card__progress::before {
  content: "0 GB";
  font-weight: 700;
  position: absolute;
  bottom: -2.5rem;
}

/* 1000 GB upper bound text*/
.card__progress::after {
  content: "1000 GB";
  font-weight: 700;
  position: absolute;
  bottom: -2.5rem;
  right: 0;
}

/* Progress bar gradient */
.progress__bar {
  content: "";
  height: 100%;
  width: 73.84%;
  display: block;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  border-radius: inherit;
}

/* Progress bar tiny white ball */
.progress__bar::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  border-radius: inherit;
  background-color: white;
  position: absolute;
  top: 0.15rem;
  left: calc(73.84% - 1.4rem);
}

.gigas__left {
  color: hsl(229, 7%, 55%);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: white;
  border-radius: 1rem;
  padding: 1.6rem;
  width: 18rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gigas__left span {
  margin-left: 0.5rem;
  vertical-align: super;
}

.gigas__left strong {
  font-size: 2.4em;
  color: hsl(229, 57%, 11%);
}

/* 
  Desktop layout (960px++)
*/
@media all and (min-width: 60em) {
  html {
    background: hsl(229, 57%, 11%) url("./images/bg-desktop.png") no-repeat
      bottom center / 100% 52%;
  }

  body {
    font-size: 1.5rem;
  }

  .card__storage {
    padding-block: 4.5rem 3.5rem;
  }

  .card__text {
    text-align: start;
  }

  .gigas__left {
    height: 9.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 87.333% 74.454%, 0 74.454%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    /* border-bottom-left-radius: 1rem; */
    border-bottom-right-radius: 0;
    top: 0;
    left: 92.6%;
    transform: translate(-100%, -50%);
  }
}
