/* 
  Font 
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* 
  Reset some properties 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  General 
*/
html {
  font-size: 10px;
  font-weight: 500;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: hsl(210, 46%, 95%);
}

body {
  min-width: 375px;
  min-height: 100vh;
  font-size: 1.3rem;
  display: grid;
  place-items: center;
}

/* 
  Testimonials layout and style
*/
.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 2.4rem 1.6rem;
  margin: 7rem 6.4vw; /*6.4% * 375px == 24px*/
}

.testimonial {
  padding: 2.4rem 3.2rem 3.4rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.5rem 2.5rem -1.5rem hsla(217, 19%, 35%, 0.5);
}

.testimonial:nth-child(1) {
  color: hsl(0, 0%, 100%);
  background-color: hsl(263, 55%, 52%);
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 2.4rem;
  grid-column: 1 / -1;
}

.testimonial:nth-child(2) {
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 19%, 35%);
}

.testimonial:nth-child(3) {
  color: hsl(217, 19%, 35%);
  background-color: hsl(0, 0%, 100%);
}

.testimonial:nth-child(4) {
  color: hsl(0, 0%, 100%);
  background-color: hsl(219, 29%, 14%);
}

.testimonial:nth-child(5) {
  color: hsl(217, 19%, 35%);
  background-color: hsl(0, 0%, 100%);
}

.testimonial__image {
  float: left;
  width: 3.2rem;
  border: 0.2rem solid hsla(0, 0%, 100%, 0.4);
  border-radius: 5rem;
  margin-right: 1.6rem;
}

/* Make the float fill up the container's height */
.testimonial__header::after {
  content: "";
  display: block;
  clear: both;
}

.testimonial__name {
  font-size: inherit;
  font-weight: 500;
}

.testimonial__status {
  opacity: 50%;
  font-size: 0.85em;
}

.testimonial__title {
  font-size: 1.55em;
  margin-block: 1.6rem;
}

.testimonial__text {
  opacity: 70%;
  font-size: 1.05em;
  line-height: 1.32;
}

/* 
  Desktop layout (1200px - 1440px)
*/
@media all and (min-width: 75em) {
  body {
    max-width: 1440px;
    margin: 0 auto;
    /* font-size: clamp(1.3rem, 0.2rem + 1vw, 1.65rem); */
  }

  .testimonials {
    grid-template-columns: repeat(auto-fit, minmax(25.6rem, 1fr));
    gap: 2.4rem 3rem;
    margin-inline: calc(4rem + 3vw);
  }

  .testimonial:nth-child(1) {
    background-position: top right 8rem;
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .testimonial:nth-child(2) {
    grid-row: 1;
    grid-column: 3;
  }

  .testimonial:nth-child(3) {
    grid-row: 2;
    grid-column: 1;
  }

  .testimonial:nth-child(4) {
    grid-row: 2;
    grid-column: 2 / span 2;
  }

  .testimonial:nth-child(5) {
    grid-row: 1 / span 2;
    grid-column: 4;
  }

  /* Tiny adjustment needed because the float is top aligned */
  .testimonial__image {
    margin-top: calc(1.5rem / 10);
  }
}
