/* Font */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* General */
html {
  font-family: "Space Grotesk", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 20rem;
}

/* 
  Card layout 
*/
.card-wrapper {
  display: grid;
  grid-template-rows: repeat(16, clamp(0.75rem, 0.25rem + 3.13vw, 1.25rem));
  grid-template-columns: repeat(22, 1fr);
  max-width: 32rem;
  padding-block: clamp(2rem, -1.695rem + 15.76vw, 4rem);
  padding-inline: clamp(1rem, -0.847rem + 7.88vw, 2rem);
  margin-inline: auto;
}

.card-front {
  grid-row: 7 / span 10;
  grid-column: 1 / span 18;
  background: url("images/bg-card-front.png") no-repeat center / contain;
}

.card-back {
  grid-row: 1 / span 10;
  grid-column: 5 / span 18;
  background: url("images/bg-card-back.png") no-repeat center / contain;
}

.card-front,
.card-back {
  aspect-ratio: 9 / 5;
  border-radius: 0.5rem;
  position: relative;
}

.card-background {
  background: url("images/bg-main-mobile.png") no-repeat;
  background-size: 100vw 76.2%;
}

/* 
  Card text 
*/
.card-wrapper {
  color: white;
  line-height: 0;
  word-spacing: 2px;
  letter-spacing: 1.2px;
  font-size: clamp(0.75rem, 0.066rem + 2.92vw, 1rem);
}

.card-wrapper h1 {
  font-size: clamp(1rem, -0.369rem + 5.84vw, 1.5rem);
}

.card-cvc {
  position: absolute;
  right: 13%;
  top: 49%;
}

.card-front > * {
  position: absolute;
}

.card-bubbles,
.card-number,
.card-name {
  left: 7.5%;
}

.card-bubbles {
  top: 11.25%;
}

.card-bubbles::before,
.card-bubbles::after {
  content: "";
  display: inline-block;
  border-radius: 100%;
}

.card-bubbles::before {
  width: 2em;
  height: 2em;
  background-color: white;
  margin-right: 0.625rem;
}

.card-bubbles::after {
  width: 1em;
  height: 1em;
  border: 1px solid;
  transform: translateY(-50%);
}

.card-number {
  bottom: 37.5%;
}

.card-name,
.card-date {
  bottom: 15%;
  text-transform: capitalize;
}

.card-date {
  right: 7%;
}

/* 
  Form layout
*/
.form-wrapper {
  display: grid;
  justify-items: center;
  padding-inline: clamp(1.5rem, -2.606rem + 17.52vw, 3rem);
}

form {
  max-width: 32rem;
  margin-top: calc(-1 * clamp(-1rem, -3.737rem + 11.68vw, 0rem));
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  height: 2.75rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(270, 3%, 87%);
  padding-inline: 1.125rem;
  margin-bottom: clamp(1rem, -0.369rem + 5.84vw, 1.5rem);
}

.form-date {
  float: left;
  width: 46.48%;
}

.form-date input {
  width: 47.37%;
}

.form-date input:first-of-type {
  float: left;
}

.form-date input:last-of-type {
  float: right;
}

.form-cvc {
  float: right;
  width: 50.15%;
}

button {
  width: 100%;
  height: 3.375rem;
  background-color: hsl(278, 68%, 11%);
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

/*
  Form text 
*/
label {
  color: hsl(278, 68%, 11%);
  font-size: clamp(0.625rem, 0.333rem + 1.46vw, 0.8rem);
  text-transform: uppercase;
  letter-spacing: 2px;
}

input::placeholder {
  color: hsl(270, 3%, 87%);
}

button {
  color: white;
  font-size: 1.125rem;
}

/* 
  Form active/errors states
*/
button:is(:hover, :focus) {
  background-color: hsl(278, 68%, 18%);
}

input:focus {
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
}

input.active {
  border: 1px solid hsl(0, 100%, 66%);
}

.input-error {
  font-size: 0.7rem;
  color: hsl(0, 100%, 66%);
  position: relative;
  top: -1rem;
}

/* 
  Complete state
*/
.complete-wrapper {
  display: none;
  text-align: center;
  max-width: 32rem;
  margin-top: 1rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.complete-wrapper h2 {
  font-size: 1.75rem;
  text-transform: uppercase;
  margin-top: 2.25rem;
}

.complete-wrapper p {
  font-size: 1.125rem;
  color: hsl(279, 6%, 55%);
  margin-block: 1.5rem 3rem;
}

/* 
  Desktop layout
*/
@media (min-width: 64em) {
  .container {
    min-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    gap: clamp(4rem, -5.846rem + 15.38vw, 8rem);
  }

  .card-background {
    background: url("images/bg-main-desktop.png") no-repeat;
    background-size: 68.41% 100vh;
    display: grid;
  }

  .card-wrapper {
    margin: unset;
    padding: unset;
    max-width: unset;
    width: clamp(27rem, 100%, 34rem);
    grid-template-rows: repeat(34, 1fr);
    grid-template-columns: repeat(34, clamp(0.82rem, -0.227rem + 1.64vw, 1rem));
    justify-content: end;
    margin-left: auto;
    margin-block: auto;
  }

  .card-front {
    grid-row: 1 / span 16;
    grid-column: 1 / span 28;
  }

  .card-back {
    grid-row: 19 / span 16;
    grid-column: 7 / span 28;
  }

  .form-wrapper {
    padding: unset;
    max-width: 24rem;
    margin-right: auto;
    margin-block: auto;
  }

  .card-wrapper {
    word-spacing: 3px;
    letter-spacing: 2.2px;
    font-size: clamp(1rem, 0.273rem + 1.14vw, 1.125rem);
  }

  .card-wrapper h1 {
    font-size: clamp(1.5rem, -0.536rem + 3.18vw, 1.85rem);
  }

  .complete-wrapper {
    margin: unset;
    padding: unset;
    width: 24rem;
    margin-right: auto;
    margin-block: auto;
  }

  /* 
    TODO: Push the whole container (or its children) 2rem to the left
          This can be accomplished changing [grid-auto-flow] 
        to [grid-template-columns] then applying some fluid spacing.          

    TODO: Give it a try applying absolute positioned pseudo-elements to layout the background
  */
}
